In [1]:
import pandas as pd

In [2]:
data = pd.DataFrame.from_csv("./ydata-ymusic-user-song-ratings-meta-v1_0/train_0.txt", sep="\t", header=None)

In [4]:
song_att = pd.DataFrame.from_csv("./ydata-ymusic-user-song-ratings-meta-v1_0/song-attributes.txt", sep="\t", header=None)

In [5]:
genre_id = pd.DataFrame.from_csv("./ydata-ymusic-user-song-ratings-meta-v1_0/genre-hierarchy.txt", sep="\t", header=None)

In [6]:
print("Data length: ",len(data))
data.head()

Data length:  76344627

      1  2
0
0   166  5
0  2245  4
0  3637  4
0  5580  4
0  5859  4

In [7]:
print("Song attribute length: ",len(song_att))
song_att.head()

Song attribute length:  136736

       1     2    3
0
0  12070  8490    0
1  19512  7975  134
2  18953  3492    0
3    695  2653    0
4    243  2282    0

In [8]:
print("Genre id length: ",len(genre_id))
genre_id.head()

Genre id length:  216

   1  2                 3
0
0  0  1           Unknown
1  1  1  Electronic/Dance
2  1  2           Ambient
3  2  3       Ambient Dub
4  2  3      Ambient Tech

In [13]:
#Remove unknown genre
song_att = song_att[song_att[3]!=0]
len(song_att)

18442

In [16]:
song_att.index

Int64Index([     1,      6,      7,      9,     12,     15,     26,     27,
                42,     43,
            ...
            136640, 136667, 136669, 136680, 136684, 136686, 136703, 136718,
            136719, 136725],
           dtype='int64', name=0, length=18442)

In [20]:
import numpy as np

In [26]:
modified_data = data[data[1].isin(song_att.index)]

In [38]:
np.sort(modified_data[1].unique())[:10]

array([ 1,  6,  7,  9, 12, 15, 26, 27, 42, 43])

In [41]:
modified_data.to_csv("m_train_0.csv",header=False)

In [40]:
modified_data.head()

       1  2
0
0  17821  5
0  60088  4
1   1718  5
1   2433  2
1   3436  5

In [42]:
song_att.to_csv("m_song_att.csv",header=False)

In [43]:
t_data = pd.DataFrame.from_csv("./ydata-ymusic-user-song-ratings-meta-v1_0/test_0.txt", sep="\t", header=None)

In [44]:
print("Test data length: ",len(t_data))
t_data.head()

Test data length:  2000000

       1  2
0
0   7171  5
0   8637  4
0  21966  4
0  35821  5
0  82446  5

In [45]:
modified_t_data = t_data[t_data[1].isin(song_att.index)]

In [46]:
np.sort(modified_t_data[1].unique())[:10]

array([ 1,  6,  7,  9, 12, 26, 27, 42, 43, 56])

In [47]:
modified_t_data.to_csv("m_test_0.csv",header=False)

In [48]:
len(modified_t_data)

250281