In [1]:
import numpy as np
import pandas as pd
from sklearn.metrics import mean_squared_error
from sklearn.metrics import mean_absolute_error

In [2]:
#Load data
test = pd.DataFrame.from_csv("./rawdata/test_0.txt", sep="\t", header=None)
big_table1 = np.genfromtxt('./tables/svdKmeansMean1.txt', delimiter='\t')
big_table2 = np.genfromtxt('./tables/svdKmeansMean2.txt', delimiter='\t')

In [3]:
print(big_table1.shape)
print(big_table2.shape)

(200000, 216)
(200000, 216)

In [4]:
def CalculateScore(user, genre, table):
    return table[user][genre]

In [5]:
test = test.reset_index()
new_name = dict(zip([0,1,2], ["user","song_id","rating"]))
test = test.rename(columns=new_name)
test.head()

   user  song_id  rating
0     0     7171       5
1     0     8637       4
2     0    21966       4
3     0    35821       5
4     0    82446       5

In [6]:
song_att_raw  = pd.DataFrame.from_csv("./rawdata/song-attributes.txt", sep="\t", header=None)
origin = [0,1,2,3]
modified1 = ["song_id","album_id", "artist_id", "genre_id"]
new_name = dict(zip(origin, modified1))
song_att = song_att_raw.rename(columns=new_name)
song_att.head()

   album_id  artist_id  genre_id
0
0     12070       8490         0
1     19512       7975       134
2     18953       3492         0
3       695       2653         0
4       243       2282         0

In [7]:
result_all = test.join(song_att, on="song_id", how="right")
result_all.head()

           user  song_id  rating  album_id  artist_id  genre_id
0           0.0     7171     5.0     19948       2889         0
43791    4379.0     7171     2.0     19948       2889         0
134420  13442.0     7171     5.0     19948       2889         0
139461  13946.0     7171     5.0     19948       2889         0
172151  17215.0     7171     5.0     19948       2889         0

In [28]:
result_all = result_all.dropna()
result = result_all

In [29]:
answer1 = list(map(lambda x: CalculateScore(result['user'][x].astype(int), result['genre_id'][x].astype(int), big_table1), result.index))

In [30]:
answer2 = list(map(lambda x: CalculateScore(result['user'][x].astype(int), result['genre_id'][x].astype(int), big_table2), result.index))

In [31]:
print("MSE:",mean_squared_error(result['rating'], answer1))
print("MAE:",mean_absolute_error(result['rating'], answer1))

MSE: 1.71165366925
MAE: 1.02948301126

In [32]:
print("MSE:",mean_squared_error(result['rating'], answer2))
print("MAE:",mean_absolute_error(result['rating'], answer2))

MSE: 1.71161034116
MAE: 1.02947478881